<div>
  <p>【店舗名】 <%= shop.name %></p>
  <p>【平均評価】</p>
  <div class="average-review-rating" data-score=<%= shop.shop_comments.average(:rate) %>></div>
  <%= render "rate_average" %>
  <p>
    <%= link_to "詳細", shop %>
    <% if current_user && current_user.id == shop.user_id %>
      <%= link_to "編集", edit_shop_path(shop) %>
      <%= link_to "削除", shop_path(shop), method: :delete, data: { confirm: "削除しますか？" } %>
    <% end %>
  </p>
</div>
<hr>
