<div class="form-wrapper">
  <%= form_with model: @shop, local: true do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class=form-group>
      <span>※</span><%= f.label :name, "店舗名" %>
      <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "最大50文字", maxlength: 50 %>
    </div>
    <div class=form-group>
      <span>※</span><%= f.label :prefecture, "都道府県" %>
      <%= f.select :prefecture, Shop.prefectures.keys.map {|k| [k, k]}, {}, {class: "form-control", style: "margin-bottom: 15px;", data: {} } %>
    </div>
    <div class=form-group>
      <span>※</span><%= f.label :address, "住所" %>
      <%= f.text_field :address, autofocus: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :TEL, "電話番号" %>
      <%= f.text_field :TEL, autofocus: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :URL, "URL" %>
      <%= f.url_field :URL, autofocus: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :img, "店舗画像" %><br />
      <%= f.file_field :img %>
    </div>
    <div class="search-button">
      <%= f.submit "登録", class: "btn btn-block form-submit-btn" %>
    </div>
  <% end %>
</div>
