<div class="shop">
  <div class="shop-header">
    <% if shop.img? %>
      <img src=<%= shop.img.url %> class="shop-image">
    <% else %>
      <img src="assets/default-cafe.jpg" class="shop-image">
    <% end %>
  </div>
  <div class="shop-title">
    <p><%= shop.name %></p>
  </div>
  <div class="shop-address">
    <p><%= shop.prefecture %><%= shop.address %></p>
  </div>
  <p>【平均評価】</p>
  <div class="average-review-rating" data-score=<%= shop.shop_comments.average(:rate) %>></div>
  <%= render "/layouts/average" %>
  <p>
    <%= link_to "詳細", shop %>
    <% if current_user && current_user.id == shop.user_id %>
      <%= link_to "編集", edit_shop_path(shop) %>
      <%= link_to "削除", shop_path(shop), method: :delete, data: { confirm: "削除しますか？" } %>
    <% end %>
  </p>
</div>
