<div class="cards">
  <%= render partial: "layouts/cards-header", locals: { objects: "shops", object: shop, title: "shop" } %>
  <div class="contents">
    <div class="shop-address">
      <p><%= shop.prefecture %><%= shop.address %></p>
    </div>
    <div class="shop-rate">
      <div class="average-review-rating" data-score=<%= shop.rate_average %>></div>
      <%= render "/layouts/average" %>
    </div>
  </div>
  <%= render partial: "layouts/link-box", locals: { object: shop } %>
</div>
