<div class="card mb-4 rounded">
  <div class="card-body bg-lemon">
    <h6 class="card-title"><a href="/beans/<%= bean.id %>"><%= bean.name %></a></h6>
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">価格</th>
          <td><%= bean.price %><span>円</span></td>
        </tr>
        <tr>
          <th scope="row">投稿日</th>
          <td><%= bean.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
      </tbody>
    </table>
    <p class="link-box">
      <% if user_signed_in? && current_user.id == bean.user_id %>
        <%= link_to "編集", edit_bean_path(bean) %>
        <%= link_to "削除", bean_path(bean), method: :delete, data: { confirm: "削除しますか？" } %>
      <% end %>
    </p>
  </div>
</div>
