<div class="profile-wrap">
  <div class="row">
    <div class="col-md-6 text-center">
      <img src=<%= @user.img.url %> class="icon-image">
    </div>
    <div class="col-md-6 text-center">
      <h1 class="title"><%= @user.name %></h1>
      <% if @user.self_introduction.present? %>
        <h6 class="introduction steel-gray bg-lemon"><%= @user.self_introduction %></h6>
      <% else %>
        <h6 class="introduction steel-gray bg-lemon"><%= @user.name %>です</h6>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h1 class="title mt-5">登録した焙煎店</h1>
      <hr class="style-1">
      <% if @shops.present? %>
        <%= render partial: "user-shop", collection: @shops, as: :shop %>
      <% else %>
        <h3 class="text-center steel-gray">まだ登録がありません</h3>
      <% end %>
    </div>
    <div class="col-md-6">
      <h1 class="title mt-5">登録したコーヒー豆</h1>
      <hr class="style-1">
      <% if @beans.present? %>
        <%= render partial: "user-bean", collection: @beans, as: :bean %>
      <% else %>
        <h3 class="text-center steel-gray">まだ登録がありません</h3>
      <% end %>
    </div>
  </div>
</div>
