<div class="cards">
  <%= render partial: "layouts/cards-header", locals: { objects: "beans", object: bean } %>
  <div class="contents steel-gray">
    <div class="underline">
      <p class="bean-tag">販売店</p>
      <p class="bean-content"><a href="/shops/<%= bean.shop_id %>"><%= bean.shop.name %></a></p>
    </div>
    <div class="underline">
      <p class="bean-tag">生産地</p>
      <p class="bean-content"><%= bean.country %></p>
    </div>
    <div class="underline">
      <p class="bean-tag">価格(100g)</p>
      <p class="bean-content"><%= bean.price %>円</p>
    </div>
  </div>
  <%= render partial: "layouts/link-box", locals: { object: bean } %>
</div>
