<div class="cards">
  <a href="/beans/<%= bean.id %>" class="cards-body">
    <div class="cards-header">
      <% if bean.img? %>
        <img src=<%= bean.image.url %> class="cards-image">
      <% else %>
        <img src="assets/default-beans.jpg" class="cards-image">
      <% end %>
    </div>
    <div class="bean-title">
      <P><%= bean.name %></P>
    </div>
  </a>
  <div class="contents">
    <div class="underline">
      <p class="bean-tag">販売店</p>
      <p class="bean-content"><a href="/shops/<%= bean.shop_id %>"><%= bean.shop.name %></a></p>
    </div>
    <div class="underline">
      <p class="bean-tag">生産地</p>
      <p class="bean-content"><%= bean.country %></p>
    </div>
    <div class="underline">
      <p class="bean-tag">価格(100g)</p>
      <p class="bean-content"><%= bean.price %>円</p>
    </div>
  </div>
  <p class="link-box">
    <% if current_user && current_user.id == bean.user_id %>
      <%= link_to "編集", edit_bean_path(bean) %>
      <%= link_to "削除", bean_path(bean), method: :delete, data: { confirm: "削除しますか？" } %>
    <% end %>
  </p>
</div>
