<h1>検索結果</h1>
<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :shop_name, "販売店名",hide_indicator: true) %></th>
      <th><%= sort_link(@q, :name, "コーヒー豆名", hide_indicator: true) %></th>
      <th><%= sort_link(@q, :country, "生産地", hide_indicator: true) %></th>
      <th><%= sort_link(@q, :price, "価格(100g当たり)", hide_indicator: true) %></th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |bean| %>
      <tr>
        <td><%= link_to bean.shop.name, shop_path(bean.shop) %></td>
        <td><%= bean.name %></td>
        <td><%= bean.country %></td>
        <td><span><%= bean.price %>円</span></td>
        <td><%= link_to '詳細', bean %></td>
      </tr>
    <% end %>
  </tbody>
</table>
