<h1 class="title mt-3"><%= @bean.name %></h1>
<div class="shop-show">
  <div class="row">
    <%= render partial: "layouts/object-img", locals: { object: @bean, img: "beans" } %>
    <div class="col-xl-8 shop-detail">
      <div class="row">
        <%= render "bean-about" %>
        <div class="col-lg-6 shop-comments">
          <h2 class="title show">Comments</h2>
          <%= render "bean-comments" %>
          <div class="comments">
            <%= render "comment" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
