<h1 class="title mt-3"><%= @bean.name %></h1>
<div class="shop-show">
  <div class="row">
    <%= render partial: "layouts/object-img", locals: { object: @bean, img: "beans" } %>
    <div class="col-xl-8 shop-detail">
      <div class="row">
        <div class="col-lg-6 shop-about">
          <h2 class="title show">About</h2>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th scope="row">苦味レベル</th>
                <td>
                  <div class="average-review-rating" data-score=<%= @bean_comments.average(:bitterness) %>></div>
                  <%= render "/layouts/average" %>
                </td>
              </tr>
              <tr>
                <th scope="row">酸味レベル</th>
                <td>
                  <div class="average-review-rating" data-score=<%= @bean_comments.average(:acidity) %>></div>
                  <%= render "/layouts/average"  %>
                </td>
              </tr>
              <tr>
                <th scope="row">コクレベル</th>
                <td>
                  <div class="average-review-rating" data-score=<%= @bean_comments.average(:body) %>></div>
                  <%= render "/layouts/average"  %>
                </td>
              </tr>
              <tr>
                <th scope="row">販売店名</th>
                <td>
                  <a class="steel-gray" href="/shops/<%= @bean.shop.id %>"><%= @bean.shop.name %></a>
                </td>
              </tr>
              <tr>
                <th scope="row">価格(100g)</th>
                <td colspan="2"><%= @bean.price %><span>円</span></td>
              </tr>
              <tr>
                <th scope="row">産地</th>
                <td colspan="2"><%= @bean.country %></td>
              </tr>
              <% if @bean.farm.present? %>
                <tr>
                  <th scope="row">農園</th>
                  <td><%= @bean.farm %></td>
                </tr>
              <% end %>
              <% if @bean.variety.present? %>
                <tr>
                  <th scope="row">品種</th>
                  <td><%= @bean.variety %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="col-lg-6 shop-comments">
          <h2 class="title show">Comments</h2>
          <%= render partial: "bean-comments", collection: @bean_comments, as: :c %>
          <div class="comments">
            <%= render "comment" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
