<h1 class="text-4xl font-semibold">Cofee First</h1>
<div>
  <a href="#">検索</a>
</div>
<div>
  登録
  <button>
    <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
      <path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/>
    </svg>
  </button>
  <ul>
    <li class="border-b"><a href="#" class="hover:bg-gray-600 rounded">お店を登録</a></li>
    <li class="border-b"><a href="#" class="hover:bg-gray-600 rounded">豆を登録</a></li>
  </ul>
</div>
<div>
  編集
  <button>
    <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
      <path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/>
    </svg>
  </button>
  <ul>
    <li class="border-b"><a href="#" class="hover:bg-gray-600 rounded">お店を編集</a></li>
    <li class="border-b"><a href="#" class="hover:bg-gray-600 rounded">豆を編集</a></li>
  </ul>
</div>
<% if user_signed_in? %>
  <div>
    <%= current_user.email %>
    <button>
      <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
        <path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/>
      </svg>
    </button>
    <ul>
      <li class="border-b"><%= link_to "アカウント編集", edit_user_registration_path, class: "hover:bg-gray-600 rounded" %></li>
    </ul>
  </div>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？"} %>
<% else %>
  <%= link_to "新規登録", new_user_registration_path %>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>
